.base_ground{
	height:100%;
	background:#c9d0d3;
	margin:0px;
}

.content{
	padding:0 15px 10px 15px;
	box-shadow : 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background:#dbdddf;
	margin-bottom:15px;
	/* margin:75px 15px 0px 235px;  */
}

.content_layer{
	background:#f2f2f2;
	padding:5px;
}

/* plotly 상세기능 버튼 비활성화 */
.modebar-btn[data-title="Save and edit plot in cloud"],
.modebar-btn[data-title="Lasso Select"],
.modebar-btn[data-title="Autoscale"],
.modebar-btn[data-title="Toggle Spike Lines"],
.modebar-btn[data-title="Show closest data on hover"],
.modebar-btn[data-title="Compare data on hover"],
.modebar-btn[data-title="Produced with Plotly"]{
	display:none;
}