
.strdperfMgtForm .strdperfMgtForm .k-grid-toolbar div input { /**200810 youmi 메인 그리드 상단의 라디오 버튼 정렬을 위해 추가**/
	vertical-align: sub;
}

/***** 200511JJW 오른쪽 그리드 - 추가버튼 팝업 *******/

.strdperfMgtForm-jteSingleGrid {
	width:44.5%;
	height:100%;
	float:left;
}

.strdperfMgtForm-jteSubGrid {
	width: 54.5%;
	height:100%;
	float:right;
}