@CHARSET "UTF-8";

/**200427 CSS 파일 생성_LYM**/

.k-grid-toolbar .jte-search-aria #jteSingleGrid_shSelTxt {
	margin-left: 5px;
	margin-right: 3px;
}

.menuInfoForm {
	margin-top: 0.8em;
	height:100%;
}

.menuInfoForm .center-content-box {
/* 	height:100%; */
	padding: 10px;
} 

.menuInfoForm .center-input {
	width: 100%;
}

.menuInfoForm .center-input.btn-input{
	width: 100%;
}

.menuInfoForm .col-left-title {
	width: 20%;
}

.menuInfoForm .col-left-content {
	width: 27%;
}

.menuInfoForm .col-right-title {
	width: 26%;
}

.menuInfoForm .col-right-content {
	width: 37%;
}

.menuInfoForm .grid-content {
	width: 100%;
}

.menuInfoForm .k-listbox {
    box-sizing: border-box;
    height: 300px;
    /** listbox inline 표시 위해_gwpark **/
    display: inline-flex; 
    margin-top: 2%;
}

.menuInfoForm .k-numerictextbox .k-numeric-wrap .k-input {
	padding: 4px 0px;
}

.jteMasterTree {
	height:100%;
	padding: 15px 30px;
	width:49%; 
}


.menuInfoForm .jte-msgBox {
	width: 100%;
	text-align: center;
	float: right
}

.menuInfoForm .jtePopAddForm_master {
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.menuInfoForm .jtePopForm_master {
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.menuInfoForm .jtePopForm_master th {
	text-align: left;	
}

.menuInfoForm .jtePopForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.menuInfoForm .left-caret:before {
	padding-left: 30px;
}

.menuInfoForm .left-input {
	width: 100%;
}

.menuInfoForm .jtePopAddForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.menuInfoForm .right-input {
	width: 100%;
	float: right;
}

.menuInfoForm .left-content-box {
/* 	display:inline-block;  */
	width:29%; 
	height:100%; 
/* 	float:left;  */
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.13); 
	background:#22364e;
/* 	border-radius: 5px; */
}

.menuInfoForm .col-main-left-content {
	width:39%;
}

.menuInfoForm .col-main-center-content {
	width:6%; 
}

.menuInfoForm .col-main-right-content {
	width:55%; 
}

.menuInfoForm .k-treeview{
	color: #ffffff;	
}

.menuInfoForm .right-content-box {
/* 	display:inline-block; */
	width:70%; 
	height:100%;
/* 	float: right; */
}

#popArea .k-grid-toolbar {
	padding: .22em .2em .28em;
}

#popArea td {
	padding: .4em .6em;	
}