
/****************첫번째 페이지, 기본 관련****************/

.mtrlMgtForm {
	width:100%;
	margin-top: 0.8em;
}

.k-grid-toolbar .jte-search-aria #jteSingleGrid_shSelTxt {
	margin-left: 5px;
	margin-right: 3px;
}

.mtrlMgtForm .search-btn {
   width: 100%;
}

/* .performOrderGridForm-gird .k-grid-content.k-auto-scrollable {
	height:100px;
}
 */

/****************팝업(마스터 그리드 > 더블클릭)****************/

.k-grid-toolbar .jte-search-aria #jtePopForm_grid_shSelTxt {
	margin-left: 5px;
	margin-right: 3px;
}


.mtrlMgtForm {
	margin-top: 0.8em;
}

.mtrlMgtForm .center-input {
	width: 100%;
}

.mtrlMgtForm .col-left-title {
	width: 17%;
}

.mtrlMgtForm .col-left-content-1 {
	width: 22%;
}

.mtrlMgtForm .col-left-content-2 {
	width: 11%;
}

.mtrlMgtForm .col-right-title {
	width: 17%;
}

.mtrlMgtForm .col-right-content-1 {
	width: 22%;
}

.mtrlMgtForm .col-right-scontent-2 {
	width: 11%;
}

.mtrlMgtForm .grid-content {
	width: 100%;
}

.jte-search-aria .input.k-textbox{
	margin-left: 0.4em;
	margin-right: 0.4em;
}

.mtrlMgtForm .k-listbox {
    box-sizing: border-box;
    height: 300px;
    /** listbox inline 표시 위해_gwpark **/
    display: inline-flex; 
    margin-top: 2%;
}

.mtrlMgtForm .k-numerictextbox .k-numeric-wrap .k-input {
	padding: 4px 0px;
}

.mtrlMgtForm .jtePopForm_master {
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.mtrlMgtForm .jtePopForm_master th {
	text-align: left;	
}

.mtrlMgtForm .jtePopForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.mtrlMgtForm .left-caret:before {
	padding-left: 27px;
}

.mtrlMgtForm .left-input {
	width: 100%;
}

.mtrlMgtForm .right-input {
	width: 100%;
	float: right;
}

#jtePopForm_grid .k-grid-toolbar {
	padding: .22em .2em .28em;
}

#jtePopForm_grid td {
	padding: .4em .6em;	
}

.mtrlMgtForm .final-btn-area {
	margin-top: 15px;
}



/*********** 품목 재고 관리 그리드 더블클릭 혹은 추가 버튼 클릭 시의 팝업창의 펼치기/접기 버튼 ***********/

.mtrlMgtForm .pop_detail_btn_area {
	text-align:center;
	padding-top: 10px; /*버튼 영역에 먹이면 안먹여서 td에 클래스 새로 만들어서 준거임*/
}

.mtrlMgtForm .pop_detail_btn.pop_detail_hide {
	cursor: pointer;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 36px;
	padding-right: 36px;
	border: rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	background-color: #0c2441;
	background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, .25) 0, rgba(255, 255, 255, 0) 100%);
	color: #ffffff;
}

.mtrlMgtForm .pop_detail_btn.pop_detail_show {
	cursor: pointer;
	
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 36px;
	padding-right: 36px;
	border: rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	background-color: #2f455b;
	background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, .25) 0, rgba(255, 255, 255, 0) 100%);
	color: #ffffff;
}



/****************팝업(마스터그리드 > 팝업창 내부 그리드 > 더블클릭)****************/

.mtrlMgtForm .center-input {
	width: 100%;
}

.mtrlMgtForm .popsc-col-left-title {
	width: 17%;
}

.mtrlMgtForm .popsc-col-left-content-1 {
	width: 22%;
}

.mtrlMgtForm .popsc-col-left-content-2 {
	width: 8%;
}

.mtrlMgtForm .popsc-col-right-title {
	width: 20%;
}

.mtrlMgtForm .popsc-col-right-content-1 {
	width: 22%;
}

.mtrlMgtForm .popsc-col-right-content-2 {
	width: 11%;
}

.mtrlMgtForm .popsc-left-caret:before {
	padding-left: 31px;
}

.mtrlMgtForm .jtePopAddForm_master {
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.mtrlMgtForm .jtePopAddForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}
