<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registration</title>

<script type="text/javascript" src="/util/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#userForm #userId, #userForm #userNm, #userForm #password, #userForm #passwordCheck").focusout(checkPasswordMatch);
		// checkPasswordMatch.call(this);
	});

	this.checkPasswordMatch = function() {
		var password = $("#userForm #password").val();
		var confirmPassword = $("#userForm #passwordCheck").val();
		var idPtn  = "^[-_.@a-zA-Z0-9]{4,15}$";
		var pwdPtn = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}/;
		

		if (!$("#userForm #userId").val().match(idPtn)){
			$("#userForm #reqNewUser").html("\[\[ \"login id\" is required! and input limit(4-15) without special character(except - _ . @) \]\]");
			$("#userForm #userId").focus();
			$("#userForm #reqNewUser").attr("style", "color:#92B3B7");
		}else if(!pwdPtn.test(password)){
			$("#userForm #reqNewUser").html("\[\[ \"password\" is required! and input limit(8-16) with special character and number \]\]");
			$("#userForm #password").focus();
			$("#userForm #reqNewUser").attr("style", "color:#92B3B7");
		}else if(password != confirmPassword){
			$("#userForm #reqNewUser").html("\[\[ Passwords do not match! \]\]");
			$("#userForm #reqNewUser").attr("style", "color:#92B3B7");
		}else if($("#userForm #userNm").val().trim().length<4 || $("#userForm #userNm").val().trim().length>25){
			$("#userForm #reqNewUser").html("\[\[ \"user name\" is required! and input limit(4-15) \]\]");
			$("#userForm #userNm").focus();
			$("#userForm #reqNewUser").attr("style", "color:#92B3B7");
		}else{
			$("#userForm #reqNewUser").html("<input type=\"submit\" value=\"사용자생성하기\" />");
			$("#userForm #reqNewUser").attr("style", "color:black");
		}
	}
</script>

</head>
<body>
	<h3>Registration</h3>
	<hr/>
	<form id="userForm" name="userForm" th:action="@{/registration}" method="post">
		action : <b><span id="reqNewUser" style="color:#92B3B7">Input your information...</span></b><br/>
		<hr/>
		login id : <input type="text" name="userId" id="userId" maxlength="15"/><br/>
		password : <input type="password" name="password" id="password" maxlength="16"/> password check : <input type="password" name="passwordCheck" id="passwordCheck" /> <br/>
		user name <input type="text" name="userNm" id="userNm" maxlength="25"/><br/>
		description : <textarea name="description" id="description" style="width:90%; resize:none;" rows=3></textarea> <br/>
		<hr/>
		<p>기본 권한 리스트</p>
		<table>
			<tr th:each="role : ${roles}">
				<td th:text="${role}">role</td>
<!-- 				<td th:utext="|<input type='checkbox' name='roles' value='${role}' />|">USER_ROLE</td> -->
				<td><input type="checkbox" name="roles" value="ROLE_USER" th:value="${role}"/></td>
<!-- 				<td th:text='|Value of "${role}" is "${role}".|'>sample</td> -->
<!-- 				<td th:text="|Value of '${role}' is '${role}'.|">sample</td> -->
<!-- 				<td th:text="${'Value of &quot;' + role + '&quot; is &quot;' + role + '&quot;.'}">sample</td> -->
			</tr>
		</table>
		<p>사용자 권한 리스트</p>
		<table>
			<tr th:each="userRole : ${userRoles}">
				<td th:text="${userRole}">role</td><td ><input type='checkbox' name='roles' value='ROLE_SOME_ONE' th:value="${userRole}"/></td>
			</tr>
		</table>
<!-- 		ROOT <input type="checkbox" name="roles" value="ROLE_ROOT" /> -->
<!-- 		 | ADMIN <input type="checkbox" name="roles" value="ROLE_ADMIN" /> -->
<!-- 		 | USER <input type="checkbox" name="roles" value="ROLE_USER" /> -->
		<hr/>
	</form>

</body>
</html>
