<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtMapper">

	<sql id="place_children">
			place.place_id		AS placeId,
			place.place_nm		AS placeNm,
			place.place_parent	AS placeParent,
			place.place_manager	AS placeManager,
			place.created_at	AS createdAt,
			place.updated_at	AS updatedAt,
			place.creator_id	AS creatorId,
			place.updator_id	AS updatorId,
			place.description	AS DESCRIPTION,
			place.is_use		AS isUse,
			place.place_std01	AS placeStd01,
			place.place_std02	AS placeStd02,
			place.place_std03	AS placeStd03,
			place.place_std04	AS placeStd04,
			place.place_std05	AS placeStd05,
			place.place_std_str01	AS placeStdStr01,
			place.place_std_str01	AS placeStdStr02,
			place.place_std_str01	AS placeStdStr03,
			place.place_std_str01	AS placeStdStr04,
			place.place_std_str01	AS placeStdStr05,
			urInfo.user_nm		AS placeManagerNm,
			IF((SELECT COUNT(1)FROM bc_place_info child  WHERE child.place_parent = place.place_id) > 0 ,TRUE,FALSE) AS hasChildren
		FROM bc_place_info place
		LEFT OUTER JOIN mb_user_info urInfo ON place.place_manager = urInfo.user_id
		WHERE 1=1
		<if test="placeParent != null and placeParent != '' ">
			AND place_parent = #{placeParent} 
		</if>
		<if test="searchText != null and searchText != '' ">
			AND ${searchGubun} LIKE CONCAT('%',#{searchText},'%')
		</if>
	</sql>
	
	<!--트리조회 -->
	<select id="selectPlaceTree"
	parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto"
		resultType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto">
		SELECT	
		<include refid="place_children" />
		AND place.place_parent = IFNULL(#{placeId},'')
		ORDER BY createdAt DESC
	</select>
	
	
	<!-- 위치 조회 List -->
	<select id="selectPlaceList"
	parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto"
		resultType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto">
		SELECT * FROM (
				SELECT 
					<choose>
						<when test="sort != null and sort != '' ">
							ROW_NUMBER() OVER(ORDER BY ${sort}) AS RNUM,
						</when>
						<otherwise>
							ROW_NUMBER() OVER(ORDER BY updatedAt desc) AS RNUM,
						</otherwise>
					</choose>
					<include refid="place_children" />
					AND place.place_parent = IFNULL(#{placeParent},'')
				)s_table
				WHERE RNUM <![CDATA[ >= ]]> #{firstIndex} AND RNUM <![CDATA[ <= ]]> #{lastIndex}
	</select>
	
	<!-- 위치 조회 Count-->
	<select id="selectPlaceListCount"
	parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto"
		resultType="java.lang.Integer">
			SELECT count(*) 
				FROM (
					SELECT
					<include refid="place_children" />
					AND place.place_parent = IFNULL(#{placeParent},'')
				)c_table
	</select>
	
	<!-- 위치 입력 -->
	<insert id="insertPlaceInfo" parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto">
		<selectKey keyProperty="placeId" resultType="java.lang.String" order="BEFORE">
			select CREATE_PK('PLE') as placeId
		</selectKey>
		INSERT INTO bc_place_info(
			place_id,
			place_nm,
			place_parent,
			place_manager,
			created_at,
			updated_at,
			creator_id,
			updator_id,
			description,
			is_use,
			place_std01,
			place_std02,
			place_std03,
			place_std04,
			place_std05,
			place_std_str01,
			place_std_str02,
			place_std_str03,
			place_std_str04,
			place_std_str05
		)VALUES(
			#{placeId},
			#{placeNm},
			#{placeParent},
			#{placeManager},
			NOW(),
			NOW(),
			#{creatorId},
			#{updatorId},
			#{description},
			TRUE,
			#{placeStd01},
			#{placeStd02},
			#{placeStd03},
			#{placeStd04},
			#{placeStd05},
			#{placeStdStr01},
			#{placeStdStr02},
			#{placeStdStr03},
			#{placeStdStr04},
			#{placeStdStr05}
		)
	</insert>
	
	<!-- 위치수정 -->
	<update id="updatePlaceInfo" parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto">
		UPDATE bc_place_info
		SET updator_id = #{updatorId},
			updated_at = NOW()
			<if test="placeNm != null">
				,place_nm = #{placeNm}
			</if>
			<if test="placeManager != null">	
				,place_manager = #{placeManager}
			</if>	
			<if test="description != null">	
				,description = #{description}
			</if>
			<if test="isUse != null">
				,is_use = #{isUse}
			</if>
			<if test="placeStd01 != null">
				,place_std01 = #{placeStd01}
			</if>
			<if test="placeStd02 != null">
				,place_std02 = #{placeStd02}
			</if>
			<if test="placeStd03 != null">
				,place_std03 = #{placeStd03}
			</if>
			<if test="placeStd04 != null">
				,place_std04 = #{placeStd04}
			</if>
			<if test="placeStd05 != null">
				,place_std05 = #{placeStd05}
			</if>
			<if test="placeStdStr01 != null">
				,place_std_str01 = #{placeStdStr01}
			</if>
			<if test="placeStdStr02 != null">
				,place_std_str02 = #{placeStdStr02}
			</if>
			<if test="placeStdStr03 != null">
				,place_std_str03 = #{placeStdStr03}
			</if>
			<if test="placeStdStr04 != null">
				,place_std_str04 = #{placeStdStr04}
			</if>
			<if test="placeStdStr05 != null">
				,place_std_str05 = #{placeStdStr05}
			</if>
		WHERE place_id = #{placeId}
	</update>
	
	<!-- 위치삭제 -->
	<delete id="deletePlaceInfo" parameterType="jin.mes.form.basMgt.operMgt.rlehoMgt.RlehoMgtDto">
		DELETE FROM bc_place_info
		WHERE place_id = #{placeId}
	</delete>
</mapper>