@CHARSET "UTF-8";

/**200407 CSS 파일 생성_LYM**/

.itemMgtForm{
	margin-top: 0.8em;
}

.itemMgtForm .btn_company_info {
	width: 100%;
}

.itemMgtForm .center-input {
	width: 100%;
}

.itemMgtForm .col-left-title {
	width: 20%;
}

.itemMgtForm .col-left-content {
	width: 30%;
}

.itemMgtForm .col-right-title {
	width: 20%;
}

.itemMgtForm .col-right-content {
	width: 30%;
}

.itemMgtForm .company_info_left {
	width:49%;
	float: left;
	text-align: center;
	font-weight: bold;
}

.itemMgtForm .company_info_right {
	width:49%;
	float: right;
	padding-right: 2%;
	text-align: center;
	font-weight: bold;
}

.itemMgtForm .companyList {
	width: 45%;
}

.itemMgtForm .selectedCompany {
	width: 40%;
}

.itemMgtForm div.k-window-content{
	overflow: unset; /*팝업창의 스크롤 없앰*/
}

.itemMgtForm .grid-content {
	width: 100%;
}
.itemMgtForm .k-listbox {
    box-sizing: border-box;
    height: 300px;
    /** listbox inline 표시 위해_gwpark **/
    display: inline-flex; 
    margin-top: 2%;
}

.itemMgtForm .k-numerictextbox .k-numeric-wrap .k-input {
	padding: 4px 0px;
}

.itemMgtForm .k-listbox.k-listbox-toolbar-right .k-listbox-toolbar {
    margin-left: 8px;
    margin-right: 4px; /* 200409 툴바 양옆으로 마진 부여_LYM */
}

.itemMgtForm .jtePopForm_master {
	width: 100%;
	padding-left: 3.5%;
	padding-right: 3.5%;
}

.itemMgtForm .jtePopForm_master th {
	text-align: left;	
}

.itemMgtForm .jtePopForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.itemMgtForm .left-input {
	width: 90%;
}

.itemMgtForm .right-input {
	width: 90%;
	float: right;
}