@CHARSET "UTF-8";

.grid-content {
	/* width: 100%; */
	height: 100%;
}

.grpAuthForm .left-content-box {
	width: 50%;
 	height: 100%;
	float: left;
}

.grpAuthForm #jteMasterGrid {
 	height: 790px;
}

.grpAuthForm .right-content-box {
	width:45%;
	height: 100%;
	float: right;
}

.grpAuthForm #jteSubGrid {
 	height: 790px;
}

.grpAuthForm .center-content-box {
	width: 4%;
	padding: 0;
	float:left;
	padding-top: 15%;
} 

.grpAuthForm .right-content-box span {
	margin-right: 8px;
}

.center-content-box span {
	margin-right: 30px;
	color: #3367D6;
	padding-left: 23px;
}

/*mediaquery*/
@media screen and (max-width: 1380px){
	.grpAuthForm #jteMasterGrid {
		height: 485px;
		/* height: 100%; */
	}
	
	.center-content-box span {
		margin-right: 30px;
		color: #3367D6;
		padding-left: 10px;
}

	.grpAuthForm #jteSubGrid {
		height: 485px;
		/* height: 100%; */
	}
	
	.grpAuthForm #jteMasterGrid {
 		height: 480px;
	}
	
	.grpAuthForm #jteSubGrid {
 		height: 480px;
	}
	
	

}