@CHARSET "UTF-8";
html{
/* 	overflow: hidden; */
}
body{
	width:100%;
	margin:0px;
	padding:0px;
/* 	overflow-y:hidden; */ 
}
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track {background-color:#f1f1f1;}
::-webkit-scrollbar-thumb { background-color:#C1C1C1; border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:0px;height:0px;background:#192534;}
ul{
	margin:0px;
}
.menuName{
	width: 95%;
	font-size: 22px;
	font-weight: bold;
}
.k-grid{
	font-family: 'Nanum Gothic', 'serif';
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
	/* min-height: 250px; */ /*그리드 여백 때문에 수정 20.08.19 JJW */
	height:100%;
}
.k-grid td{
	white-space: nowrap;
}
.ui-tabs .ui-tabs-panel{
	padding :10px 0.4em;
}
#subContentsTabMain{
	padding:0px;
}
.jteConfigFomr_pwZone{
/* 	display:none; */
}
.pop_title{
	font-weight:600; 
	font-size:20px; 
	padding:5px;
	
}
.pop_detail_btn{
	pointer:cursor;
}
.pop_detail_info{
	display:none;
}
.k-tooltip{
	background-color: #F8F8F8 !important;
	font-size:14px;
	font-weight:500;
}
/* input:read-only{ */
/* 	background:#e4e2e2; */
/* } */

input:read-only {
	background-color: #cfcfcf;
	border : 1px #bdbdbd solid;
}

input.k-textbox:hover:read-only {
	background-color: #cfcfcf;
	border : 1px #bdbdbd solid;
}
 
.k-invalid-msg
{
	display: none !important;
}

.k-invalid
{
	border: 1px solid red;
}

span.k-invalid{
	border: 1px solid red !important;
}

input.k-invalid
{
	border: 1px solid red;
}
.k-textbox.k-invalid{
	border-color:red !important;
}
.k-datepicker .k-picker-wrap.k-invalid{
	border: 1px solid red !important;
}
.k-datepicker .k-picker-wrap.k-invalid > input{
	border:none !important;
}

.k-numeric-wrap .k-state-default .k-invalid> input{
	border:none !important;
}
/* 툴팁 마진없앰 */
span.k-tooltip {
	margin-left: 2px !important;
}

/* 201117 YUMI_위치정보 팝업 padding 수정*/
.k-prompt-container, .k-window-content {
	padding: 10px 16px;
}

.k-grid.k-window-content {
	padding: 0;
}

/* 201119 YUMI_조회 팝업에 스크롤이 생기는 오류 수정 */
#popArea.k-grid.k-window-content {
	overflow: hidden;
}

#popArea.k-grid .k-grid-toolbar {
	padding: .1em .2em;
}

