
.shipPlanMgtForm {
	width:100%;
}

.shipPlanMgtForm.search-btn-area {
	background-color: #f2f6fc;
	padding: 15px 10px;
	margin-bottom: 5px;
}

.shipPlanMgtForm.shipPlanMgtForm-gird {
	width:100%;
	margin-top: 5px;
}


.shipPlanMgtForm-gird #jteSingleGrid {
	height: 95%;
}

/*mediaquery*/
@media screen and (max-width: 1380px){
	.shipPlanMgtForm-gird #jteSingleGrid {
		height: 420px;
	}
}

/***** 200511JJW 팝업 *******/

.shipPlanMgtForm .jtePopForm_master {
	width: 100%;
}

.shipPlanMgtForm .jtePopForm_master th {
	text-align: left;	
}

.shipPlanMgtForm .col-left-title {
	width: 18%;
}

.shipPlanMgtForm .col-left-content {
	width: 31%;
}

.shipPlanMgtForm .col-right-title {
	width: 20%;
}

.shipPlanMgtForm .col-right-content {
	width: 31%;
}

.shipPlanMgtForm .normal-input{
	width: 100%;
}

.shipPlanMgtForm .center-input{
	width: 100%;
}

.shipPlanMgtForm .left-input {
	width: 100%;
}

.shipPlanMgtForm .right-input {
	width: 100%;
}

.shipPlanMgtForm .left-input.btn-input {
	width: 97%;
	float: left;
}

.shipPlanMgtForm .td-right-title {
	width: 90%;
	float: right;
	margin-top: 5px;
}

.shipPlanMgtForm .search-btn {
	width: 100%;
}

.shipPlanMgtForm .rlesMgtForm-btn {
	width: 100%;
}


/********* 포장정보등록 **********/

.toolInfo.toolInfo-title {
	width: 100%;
}

.toolInfo.toolInfo-title tr {
/* 	font-size: 16px; */
}

.toolInfoPopup_form.bundleForm .toolInfo-div {
	height: 250px;
	margin: 10px;
	border: 1px solid #D5E0F5;
	overflow-x: hidden;
	overflow-y: scroll;
}

.toolInfoPopup_form .bundleForm .final-btn-area {
	margin-top: 0;
	vertical-align: bottom;
}

.toolInfo-title tr {
	width: 100%;
}

.bundleForm .toolInfo.toolInfo-title .col-toolInfo-check {
	width: 10%;
}

.bundleForm .toolInfo.toolInfo-title .col-toolInfo1 {
	width: 43%;
}

.bundleForm .toolInfo.toolInfo-title .col-toolInfo2 {
	width: 47%;
}

#toolInfo-title .bundleForm .bundleForm-toolInfo-title {
	width: 100%;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.toolInfo-div .toolInfo .bundleForm .bundleForm-toolInfo-content {
/* 	padding-left: 5px; */
	width: 100%;
}

.bundleForm-toolInfo-content td {
	width: 30%;
}

.plus-minus-btn-area {
	padding: 10px;
    /* text-align: center; */
    padding-bottom: 0;
}

.plus-minus-btn {
	width: 50px;
	font-size: 26px;
	font-weight: bold;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
}

.tool-checkbox-td {
	width: 10%;
	text-align: center;
}

.bundleForm .toolInfo-title{
	width: 100%;
	font-weight: bolder;
	margin-bottom: -10px;
}

.bundleForm .toolInfo-content {
	width: 100%;
}

.bundleForm .toolInfo tr {
	text-align: left;	
}

.bundleForm .toolInfo th {
	text-align: left;	
}

.bundleForm .toolInfo td {
	padding-top: .45em;
	padding-bottom: .45em;
	
}

.bundleForm .toolInfo-title td {
	text-align: left;
	font-size: 20px;
}

.bundleForm .toolInfo-content .bundleUnit {
	width: 95%;
	float: left;
	font-size: 20px;
}

.bundleForm .toolInfo-content .bundleQty {
	width: 98%;
	float: left;
	font-size: 20px;
}

.bundleForm .col-toolInfo {
	width: 24%;
}