
/*04.09 JJW 내부 스타일 옮김*/
.processInfoForm .k-listbox {
    box-sizing: border-box;
    height: 300px;
    /*** listbox inline 표시 위해_gwpark ***/
    display: inline-flex; 
}

.processInfoForm #jtePopForm_form {
	text-align: left;
}

.processInfoForm.final-btn-area {
	margin-top: 10px;
}

/* .processInfoForm .jtePopForm_master {
	margin-left: 45px;
	margin-top: 10px;
} */

/* .processInfoForm .jtePopForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
} */

.equipment_info_left {
    width: 40%;
    float: left;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 42px;
    font-weight: bold;
}

.equipment_info_right {
    width: 40%;
    float: right;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 45px;
    font-weight: bold;
}

.processInfoForm .k-widget .k-listbox {
	width: 40%;
	padding-left: 10px;
}

.processInfoForm .k-widget .k-listbox .k-listbox-toolbar-right {
	width: 45%;
}

.processInfoForm .k-listbox-toolbar {
/* 	margin-left: 7px; */
	margin-right: 5px;
}

.processInfoForm .k-listbox.k-listbox-toolbar-right .k-listbox-toolbar {
	margin-left: 9px;
}

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox>input {
	text-indent: 0;
}


/* 윤민 */

/**200407 CSS 파일 생성_LYM**/

.btn_equipment_info {
   width: 100%
}

.processInfoForm .center-input {
   width: 100%;
}

.processInfoForm .col-left-title {
   width: 25%;
}

.processInfoForm .col-left-content {
   width: 27%;
}

.processInfoForm .col-right-title {
   width: 21%;
}

.processInfoForm .col-right-content {
   width: 27%;
}

/* .company_info_left {
   width:49%;
   float: left;
   text-align: center;
   font-weight: bold;
}

.company_info_right {
   width:49%;
   float: right;
   padding-right: 2%;
   text-align: center;
   font-weight: bold;
} */

.processInfoForm .equipmentList {
   width: 45%;
}

.processInfoForm .selectedEquipment {
   width: 38%;
}

div.k-window-content{
   overflow: unset; /*팝업창의 스크롤 없앰*/
}

.grid-content {
   width: 100%;
}

/* .k-listbox {
    box-sizing: border-box;
    height: 300px;
    * listbox inline 표시 위해_gwpark *
    display: inline-flex; 
    margin-top: 2%;
}
 */
/* .k-numerictextbox .k-numeric-wrap .k-input {
   padding: 4px 0px;
} */

/* .k-widget .k-window {
   height: 460px;
} */

/* .k-listbox.k-listbox-toolbar-right .k-listbox-toolbar {
    margin-left: 8px;
    margin-right: 4px; 200409 툴바 양옆으로 마진 부여_LYM
} */

/* .jtePopForm_master {
   width: 100%;
   padding-left: 2%;
}
 */
.processInfoForm .jtePopForm_master th {
   text-align: left;   
}

.processInfoForm .left-input {
   width: 90%;
}

.processInfoForm .right-input {
   width: 90%;
   float: right;
}

#equipment_info {
	text-align: center;
}


/* 추가 팝업 검색 영역 */

.k-widget .k-header {
	padding-top: 10px;
	padding-bottom: 10px;
}

.searchEqmt {
	width: 35%;
	margin-right: 11px;
}

.searchSelectedEqmt {
	width: 35%;
	margin-left: 18px;
}

.left-icon {
	margin-right: 10px;
}

.right-icon {
	margin-left: 10px;
}


