
/* k-datetimepicker 관련 */
.productWorkAdminForm .k-datetimepicker .k-select .k-link {
	display: flex;
}
.productWorkAdminForm .k-datetimepicker .k-select .k-link-date {
	border-right: 1px solid #ffffff;
}

/*20.12.23 메인 그리드의 지시목록 버튼, 작업정보 버튼, 수정 버튼 가운데 정렬 YUMI*/
.productWorkAdminForm.k-grid td:first-child {
	text-align: center;
}

/*20.12.23 자재 사용량 팝업의 버튼들 가운데 정렬 YUMI*/
#mtrlUsePop #mtrlUsePop_grid.k-grid td:nth-child(5) {
	text-align: center;
}

/*20.12.23 불량등록 팝업 final-btn-area 위쪽 여백 조정 YUMI*/
.productWorkAdminForm.final-btn-area {
	margin-top: 5px;
}