
#jteProdWorkForm_form .wrkinAdminMgtForm.jteProdWorkForm_form {
	padding-top: 10px;
}

.hidden-show-button {
	margin-left: 5px;
	margin-bottom: 5px;
}

.wrkinAdminMgtForm .mtrlUseArea {
	margin-bottom: 5px;
}

/*********** 원래 있었던 내부 스타일 ***********/

/* 	#jteProdWorkForm_form table td{
		height:35px;
	} */
	
	#jteWorkStartPop td{
		font-size:20px;
		padding: 10px;
	}
	
	#jteWorkStartPop .pop_title td{
		font-size:25px;
		padding: 25px 10px 0px 10px;
	}
	#jteMtrlChkPop button{
		
	}
	
	
	
/*********** 거의 공통 스타일 ***********/

#popArea .k-grid-toolbar {
	padding: .22em .2em .28em;
}

#popArea td {
	padding: .4em .6em;
}

/* .k-widget.k-window div.k-window-content.k-content{
	overflow: unset;   팝업창의 스크롤 없앰
}  */

/* .wrkinAdminMgtForm {
	margin-top: 0.8em;
} */

.wrkinAdminMgtForm .center-input {
	width: 100%;
}

.wrkinAdminMgtForm .center-input.btn-input {
	width: 100%;
}

.wrkinAdminMgtForm .fa-info-circle:before {
	color:#3367D6;
}

.wrkinAdminMgtForm .grid-content {
	width: 100%;
}

.wrkinAdminMgtForm .left-input {
	width: 100%;
}

.wrkinAdminMgtForm .right-input {
	width: 100%;
}

.wrkinAdminMgtForm .center-input {
	width: 100%;
}

.wrkinAdminMgtForm .left-input.btn-input{
	width: 95%;
	float: left;
}

.wrkinAdminMgtForm .right-input.btn-input{
	width: 95%;
	float: left;
}

.wrkinAdminMgtForm .td-right-title {
	width:90%;
	float: right;
	margin-top: 5px;
}

.wrkinAdminMgtForm .jte-msgBox {
	width: 100%;
}

.wrkinAdminMgtForm .k-listbox {
    box-sizing: border-box;
    height: 300px;
    /** listbox inline 표시 위해_gwpark **/
    display: inline-flex; 
    margin-top: 2%;
}

.wrkinAdminMgtForm .k-numerictextbox .k-numeric-wrap .k-input {
	padding: 4px 8px;
}

.wrkinAdminMgtForm .search-btn {
	width: 100%;
}



/*********** 4~152번째 줄 - 첫페이지 ***********/

.wrkinAdminMgtForm-left-content-box {
/* 	display:inline-block;  */
	height:100%;
}


.wrkinAdminMgtForm-right-content-box {
/* 	display:inline-block; */ 
	height:100%;
}

.wrkinAdminMgtForm .right-content-table {
	height:100%; 
	width:100%;
}

.wrkinAdminMgtForm .jteProdWorkForm_form {
	height:100%; 
	display:none;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
/* 	background: #E2ECFF; */
	border: 1px solid #92B5FC;
	border-radius: 10px;
	width: 98%;
	padding: 10px;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_2 {
	padding-top: 10px;
/* 	padding-bottom: 10px; */
	margin: 10px;
	background: #E2ECFF;
	border: 1px solid #92B5FC;
	border-radius: 10px;
	padding: 10px;
}

.k-grid-toolbar .jte-search-aria #jteSingleGrid_shSelTxt {
	margin-left: 5px;
	margin-right: 3px;
}

.wrkinAdminMgtForm .pop_title.bottom_pop_title{
	padding: 0;
	border-left: 5px solid #92B5FC;
	padding-left: 8px;
	margin-top: 15px;
	margin-left: 10px;
}

.wrkinAdminMgtForm .pop_title.top_pop_title {
	padding: 0;
	border-left: 5px solid #92B5FC;
	padding-left: 8px;
	margin-left: 10px;
}

.wrkinAdminMgtForm .full-search-btn-left {
	width: 95%;
	float: left;
}

.wrkinAdminMgtForm .full-search-btn-right {
	width: 95%;
	float: right;
}

.jteProdWorkForm_table_2 .custom-label-success {
	color: #00e02d;
	font-weight: bold;
}

.jteProdWorkForm_table_2 .custom-label-fail {
	color: red;
	font-weight: bold;
}

.wrkinAdminMgtForm.jteProdWorkForm_form .final-btn-area > .k-button.k-primary.final-btn {
	margin-top: 4px;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-left-title {
	width: 19%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-left-content-1 {
	width: 20%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-left-content-2 {
	width: 11%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-right-title {
	width: 19%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-right-content-1 {
	width: 20%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_1 .col-right-content-2 {
	width: 11%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_2 .col-left-title {
	width: 20%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_2 .col-left-content {
	width: 30%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_2 .col-right-title {
	width: 20%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_2 .col-right-content {
	width: 30%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_3 .col-left-title {
	width: 12%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_3 .col-left-content {
	width: 35%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_3 .col-right-title {
	width: 18%;
}

.wrkinAdminMgtForm .jteProdWorkForm_table_3 .col-right-content {
	width: 35%;
}




/*********** 154~160번째 줄 - 라우팅 전체조회 POP(같은 작업지시에 포함된 라우팅만 조회한다.) ***********/

#jteRoutingAllPop {
	height:100%;
}




/*********** 162~236번째 줄 - 작업시작 팝업 ***********/

#jteWorkStartPop {
	height:100%;
}

#jteWorkStartPop_form {
	height:100%;
}

.jteWorkStartPop_table {
	width:100%;
}
.jteWorkStartPop_table .col-left{ /*임의로 정함*/
	width: 60%;
}

.jteWorkStartPop_table .col-right { /*임의로 정함*/
	width: 40%;	
}

.jteWorkStartPop_table .center-input {
	width: 100%;
}

.jteWorkStartPop_table .left-input.btn-input {
	width: 90%;
	float: left;
}

.jteWorkStartPop_table .search-btn {
	width: 100%;
}


.jteWorkStartPop_table_left {
	width: 49%;
	float: left;
}

.jteWorkStartPop_table_right {
	width: 49%;	
	float: right;
}

.jteWorkStartPop_table_bottom {
	width: 100%;	
}







/* 200513 JJW */

/******** 230-283번째 줄 - 작업종료 팝업 ********/
#jteWorkEndPop {
	height:100%; width:100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table {
	width: 100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table_left {
	width: 49%;
	float: left;
}

.wrkinAdminMgtForm .jteWorkEndPop_table_right {
	width: 49%;
	float: right;
}

.wrkinAdminMgtForm .jteWorkEndPop_table_bottom {
	width: 100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .col-left {
	width: 50%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .col-right {
	width: 50%;
}


.wrkinAdminMgtForm.jteWorkEndPop_table .left_title {
	width: 49%;
	float: left;
	
	font-weight: 600;
    font-size: 20px;
    padding: 5px;
}

.wrkinAdminMgtForm.jteWorkEndPop_table .right_title {
	width: 49%;
	float: left;
	
	font-weight: 600;
    font-size: 20px;
    padding: 5px;
}

.wrkinAdminMgtForm .jteWorkEndPop_table_left .left-input {
	margin-top: 2px;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .left-input {
	width:100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .right-input.btn-input {
	width:95%;
	float: left;
}


.wrkinAdminMgtForm .jteWorkEndPop_table .search-btn {
	width:100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .center-input {
	width:100%;
}

.wrkinAdminMgtForm .jteWorkEndPop_table .pop_title.not_pop_title {
	font-size: 16px;
}

/******** 295-305번째 줄 - 현재 설비에 장착되어 있는 팝업 조회 ********/
#jteEquipToolPop {
	height:100%;
}

#jteEquipToolPop .final-btn-area {
	font-size:20px;
}

/******** 307-316번째 줄 - 장착가능한 공구 조회 ********/
#jteToolPosForm {
	height:100%;
}


/******** 318-329번째 줄 - 자재 재고 파악 팝업 ********/
#jteMtrlChkPop {
	height:100%;
}


/******** 331-342번째 줄 - 자재 재고 파악 팝업 ********/
#mtrlUseDetailPop {
	height:100%;
}


/******** 344-401번째 줄 - 자재투입 등록/조회 팝업 ********/
#mtrlUseSavePop {
	height:100%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .col-left-title {
	width:22%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .col-left-content {
	width:48%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .col-right-content {
	width:30%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .center-input {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .left-input.btn-input {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table .search-btn {
	width:100%;
}

/******** 403-488번째 줄 - 불량 등록/확인팝업 ********/
.wrkinAdminMgtForm .mtrlUseBadSavePop_table {
	width:100%;
	x-overflow: none;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .col-left-title {
	width:24%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .col-left-content {
	width:28%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .col-right-title {
	width:20%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .col-right-content {
	width:28%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .center-input {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .left-input {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .right-input {
	width:100%;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table .td-right-title {
	width: 90%;
	float: right;
	margin-top: 5px;
}


/******** 491-500번째 줄 - 품목 불량 리스트  팝업 ********/
#itemBadListPop {
	height:100%;
}


/******** 503-586번째 줄 - 품목 불량 등록/확인팝업 ********/
.wrkinAdminMgtForm .itemBadSavePop_table {
	width:100%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .col-left-title {
	width:25%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .col-left-content {
	width:27%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .col-right-title {
	width:21%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .col-right-content {
	width:27%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .center-input {
	width:100%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .left-input {
	width:100%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .right-input {
	width:100%;
}

.wrkinAdminMgtForm .itemBadSavePop_table .td-right-title {
	width: 85%;
	float: right;
	margin-top: 5px;
}

/** 팝업 여백 **/

.jteProdWorkForm_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.jteProdWorkForm_table th {
	text-align: left;	
}

.jteProdWorkForm_table {
	padding-left: 10px;
/* 	padding-right: 10px; */
	padding-top: 5px;
/* 	padding-bottom: 2px; */
}


#jteRoutingAllPop td {
	padding-top: .45em;
	padding-bottom: .45em;
}

#jteRoutingAllPop th {
	text-align: left;	
}

/* #jteRoutingAllPop {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
} */


.wrkinAdminMgtForm .jteWorkStartPop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .jteWorkStartPop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .jteWorkStartPop_table {
	padding-left: 20px;
	padding-right: 20px;
}


.wrkinAdminMgtForm .jteWorkEndPop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .jteWorkEndPop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .jteWorkEndPop_table {
	padding-left: 20px;
	padding-right: 20px;
}

/* .wrkinAdminMgtForm .jteEquipToolPop td {
	padding-top: .45em;
	padding-bottom: .45em;
} */

.wrkinAdminMgtForm .jteEquipToolPop th {
	text-align: left;	
}

/* .wrkinAdminMgtForm .jteEquipToolPop {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
} */


.wrkinAdminMgtForm .mtrlUseBadSavePop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .mtrlUseBadSavePop_table {
	padding-left: 20px;
	padding-right: 20px;
}


.wrkinAdminMgtForm .jteToolPosForm td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .jteToolPosForm th {
	text-align: left;	
}

.wrkinAdminMgtForm .jteToolPosForm {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}


.wrkinAdminMgtForm .jteMtrlChkPop td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .jteMtrlChkPop th {
	text-align: left;	
}

.wrkinAdminMgtForm .jteMtrlChkPop {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}


/* .wrkinAdminMgtForm .mtrlUseDetailPop-top-grid td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .mtrlUseDetailPop-top-grid th {
	text-align: left;	
}

.wrkinAdminMgtForm .mtrlUseDetailPop-top-grid {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
} */


/* .wrkinAdminMgtForm .mtrlUseSavePop_table-top-grid td {
	padding-top: .45em;
	padding-bottom: .45em;
} */

.wrkinAdminMgtForm .mtrlUseSavePop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .mtrlUseSavePop_table {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}


.wrkinAdminMgtForm .mtrlUseSavePop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .mtrlUseSavePop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .mtrlUseSavePop_table {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}


/* .wrkinAdminMgtForm .itemBadListPop-top-grid td {
	padding-top: .45em;
	padding-bottom: .45em;
} */

.wrkinAdminMgtForm .itemBadListPop th {
	text-align: left;	
}

.wrkinAdminMgtForm .itemBadListPop {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}


.wrkinAdminMgtForm .itemBadSavePop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.wrkinAdminMgtForm .itemBadSavePop_table th {
	text-align: left;	
}

.wrkinAdminMgtForm .itemBadSavePop_table {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}






#toolReady {
	border: 2px solid red;
	background-color: rgba(255, 74, 74, 0.25);
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 5px;
	text-align:center;
}

#mtrlReady {
	border: 2px solid red;
	background-color: rgba(255, 74, 74, 0.25);
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 5px;
	text-align:center;
}

.wrkinAdminMgtForm .k-datetimepicker .k-select .k-link {
	display: flex;
}
.wrkinAdminMgtForm .k-datetimepicker .k-select .k-link-date {
	border-right: 1px solid #ffffff;
}

/* 선택한 버튼 활성화 2020-05-20 jkkim 추가 */
#jteSingleGrid .pop-on{
	color:white;
	background : #a3c1ff;
	border-color : #a3c1ff;
}