<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.mes.form.perform.prodStaMgt.workProdStaMgt.WorkProdStaMgtMapper">

	<sql id="workProd_base">	 
			itemInfo.item_id AS itemId, 
			itemInfo.item_nm AS itemNm,
			qmItem.item_qty_user AS itemQtyUser,
			urInfo.user_nm AS itemQtyUserNm,
			IFNULL(lotQty,0) AS itemOrderQty, 
			IFNULL(lotDefect,0) AS itemDefectQty, 
			IFNULL(lotAchieve,0) AS itemAchieveQty,
			IFNULL(lotAchieve/lotQty*100,0) AS itemAchieveRate,
			IFNULL(lotDefect/(IFNULL(lotDefect,0)+IFNULL(lotAchieve,0))*100,0) AS itemDefectRate
		FROM qm_item_mgt qmItem
		JOIN mb_user_info urInfo ON urInfo.user_id = qmItem.item_qty_user
		join bc_item_info itemInfo on itemInfo.item_id = qmItem.item_id
		LEFT JOIN (
				SELECT 
					lotInfo.item_id, 
					SUM(lot_qty) AS lotQty,
					SUM(lot_original_qty) AS lotOriginalQty, 
					SUM(badItem.lotDefect) AS lotDefect, 
					SUM(qmItem.lotAchieve) AS lotAchieve,
					(
						SELECT SUM(itemRevenue) AS itemTotalRevenue 
						FROM (
							SELECT (SUM(lot_original_qty)*itemInfo.item_price)-(SUM(lot_original_qty)*item_person_cost) AS itemRevenue
							FROM prs_lot_info lotInfo
							INNER JOIN bc_item_info itemInfo
							ON lotInfo.item_id = itemInfo.item_id
							INNER JOIN prs_order_info orderInfo
							ON lotInfo.order_id = orderInfo.order_id
							WHERE 1=1
							GROUP BY lotInfo.item_id
						) sub 
					) AS itemTotalRevenue
				FROM prs_lot_info lotInfo
				LEFT JOIN (
						SELECT lot_id, SUM(bad_qty) AS lotDefect
						FROM prs_bad_product
						WHERE 1=1
						GROUP BY lot_id
					) badItem
				ON lotInfo.lot_id = badItem.lot_id
				LEFT JOIN (
						SELECT item_mgt_id, item_qty_user, SUM(item_qty_total) lotAchieve
						FROM qm_item_mgt
						WHERE 1=1
						AND item_qty_target != 'prod_tagt02'
						GROUP BY item_mgt_id
					) qmItem
				ON lotInfo.lot_id = qmItem.item_mgt_id
				WHERE 1=1
				GROUP BY lotInfo.item_id
		) lotInfo ON itemInfo.item_id = lotInfo.item_id
		WHERE 1=1
		<if test="itemQtyUser != null">
			AND qmItem.item_qty_user = #{itemQtyUser}
		</if>		
		<if test="searchText != null and searchText != '' ">
			AND ${searchGubun} LIKE CONCAT('%',#{searchText},'%')
		</if>
		GROUP BY itemInfo.item_id
	</sql>
	
	<select id="selectWorkProdStaList"
		parameterType="jin.mes.form.perform.prodStaMgt.workProdStaMgt.WorkProdStaMgtDto"
		resultType="jin.mes.form.perform.prodStaMgt.workProdStaMgt.WorkProdStaMgtDto">
		SELECT * FROM (
				SELECT 
					<choose>
						<when test="sort != null and sort != '' ">
							ROW_NUMBER() OVER(ORDER BY ${sort}) AS RNUM,
						</when>
						<otherwise>
							ROW_NUMBER() OVER(ORDER BY itemId desc) AS RNUM,
						</otherwise>
					</choose>
					<include refid="workProd_base"></include>
				)s_table
				<if test="firstIndex != null and firstIndex != 0 and lastIndex != null and lastIndex != 0 ">
					WHERE RNUM <![CDATA[ >= ]]> #{firstIndex} AND RNUM <![CDATA[ <= ]]> #{lastIndex}
				</if>
	</select>
	
	<!-- 수주정보 select -->
	<select id="selectWorkProdStaCount"
	parameterType="jin.mes.form.perform.prodStaMgt.workProdStaMgt.WorkProdStaMgtDto"
		resultType="java.lang.Integer">
		SELECT count(*)
		FROM(
			SELECT
			<include refid="workProd_base"></include>
		)c_table
	</select>
</mapper>