/*20.08.05 왼쪽 셀 가운데 정렬 JJW*/
.baseSetMgtForm.k-grid th:first-child, .baseSetMgtForm.k-grid td:first-child {
	text-align: center;
}

/*20.12.03 메인 그리드의 보기 버튼, 수정 버튼 가운데 정렬 YUMI*/
.baseSetMgtForm.k-grid td:nth-child(2) {
	text-align: center;
}

/*20.12.03 팝업 final-btn-area 위쪽 여백 조정 YUMI*/

.baseSetMgtForm-final-btn-area {
	margin-top: 5px;
}
