#jtePopForm_master {
	margin-top: 5px;
}

.userInfoForm .col-left-title {
	width: 20%;
}

.userInfoForm .col-right-content {
	width: 70%;
}

.userInfoForm .group-checkbox {
	overflow: auto;
	height: 150px;
	background-color: #ffffff;
	padding-top: 5px;
	border: 1px solid #C7D5F4;
}

.userInfoForm .center-input .btn-input {
	width: 100%;
}

.userInfoForm .jtePopForm_master th {
   text-align: left;   
}

.userInfoForm .left-input {
   width: 100%;
}

.userInfoForm .right-input {
   width: 100%;
}

.userInfoForm .center-input {
	width: 100%;
}

.userInfoForm .normal-input {
	width: 100%;
}

.userInfoForm .col-left-title {
   width: 20%;
}

.userInfoForm .col-left-content {
   width: 30%;
}

.userInfoForm .col-right-title {
   width: 20%;
}

.userInfoForm .col-right-content {
   width: 30%;
}

.userInfoForm .lookup-btn {
	width: 100%;
}





.final-btn-area {
	margin-top: 0;
}
