<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.mes.mapper.basMgt.operMgt.toolMgt.ToolMgtMapper">

	<!-- 설비정보 -->
	<sql id="toolInfo_base">
			toolInfo.tool_id		AS toolId, 
			toolInfo.tool_nm     	AS toolNm, 
			toolInfo.tool_type   	AS toolType,
			toolInfo.tool_dc		AS toolDc,
			toolInfo.tool_price  	AS toolPrice, 
			toolInfo.tool_limit  	AS toolLimit, 
			toolInfo.tool_desc   	AS toolDesc,
			toolInfo.is_use      	AS isUse, 
			toolInfo.creator_id  	AS creatorId, 
			toolInfo.created_at  	AS createdAt,
			toolInfo.updator_id  	AS updatorId,
			toolInfo.updated_at  	AS updatedAt
		FROM bc_tool_info toolInfo
		WHERE 1=1
		<if test="searchText != null and searchText != '' ">
			AND ${searchGubun} LIKE CONCAT('%',#{searchText},'%')
		</if>
		<if test="toolType != null and toolType != '' ">
			AND toolInfo.tool_type = #{toolType}
		</if>
		<if test="toolId != null and toolId != '' ">
			AND toolInfo.tool_id = #{toolId}
		</if>
		<if test="isUse != null and isUse != '' ">
			AND toolInfo.is_use = #{isUse}
		</if>
	</sql>

	<!-- 설비 구매 업체-->
	<sql id="tool_rtl_comp">
			comp.comp_id		AS compId,
			comp.comp_nm		AS compNm,
			comp.comp_managr	AS compManagr,
			comp.comp_number	AS compNumber,
			comp.comp_type		AS compType,
			comp.comp_addr		AS compAddr,
			comp.created_at		AS createdAt,
			comp.updated_at		AS updatedAt,
			comp.creator_id		AS creatorId,
			comp.updator_id		AS updatorId,
			comp.description	AS description,
			comp.is_use			AS isUse,
			rtl.tool_id			AS toolId
		FROM bc_rtl_tool_comp rtl
		LEFT OUTER JOIN bc_company_info comp on rtl.comp_id = comp.comp_id
		WHERE rtl.tool_id = #{toolId} AND comp.is_use = true
		<if test="searchText != null and searchText != '' ">
			AND ${searchGubun} LIKE CONCAT('%',#{searchText},'%')
		</if>
	</sql>
	
	<!-- 설비정보(Page) select -->
	<select id="selectToolInfoList"
		parameterType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto"
		resultType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto">
		SELECT * FROM (
				SELECT 
					<choose>
						<when test="sort != null and sort != '' ">
							ROW_NUMBER() OVER(ORDER BY ${sort}) AS RNUM,
						</when>
						<otherwise>
							ROW_NUMBER() OVER(ORDER BY updatedAt desc) AS RNUM,
						</otherwise>
					</choose>
					<include refid="toolInfo_base" />
				)s_table
				WHERE RNUM <![CDATA[ >= ]]> #{firstIndex} AND RNUM <![CDATA[ <= ]]> #{lastIndex}
	</select>
	
	<!-- 설비정보 Count -->
	<select id="selectToolInfoCount"
		parameterType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto"
		resultType="java.lang.Integer">
				SELECT count(*) 
				FROM (
					SELECT
					<include refid="toolInfo_base" />
				)c_table
	</select>
	
	<!-- 설비정보 입력 -->
	<insert id="insertToolInfo" parameterType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto">
	<selectKey keyProperty="toolId" resultType="java.lang.String" order="BEFORE">
		SELECT CREATE_PK('TOL') AS toolId
	</selectKey>
		INSERT INTO bc_tool_info(
			tool_id,
			tool_nm,
			tool_type,
			tool_price,
			tool_limit,
			tool_desc,
			is_use,
			creator_id,
			created_at,
			updator_id,
			updated_at
		)VALUES(
			#{toolId}, 
			#{toolNm}, 
			#{toolType}, 
			#{toolPrice}, 
			#{toolLimit}, 
			#{toolDesc},
			TRUE, 
			#{creatorId}, 
			NOW(),
			#{updatorId},
			NOW()
		)
	</insert>
	
	<!-- 설비 정보수정 -->
	<update id="updateToolInfo" parameterType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto">
		UPDATE bc_tool_info
		SET updator_id = #{updatorId},	
			updated_at = NOW()
			<if test="toolNm != null">	
				,tool_nm = #{toolNm}
			</if>
			<if test="toolType != null">	
				,tool_type = #{toolType}
			</if>
			<if test="toolPrice != null">	
				,tool_price = #{toolPrice}
			</if>
			<if test="toolLimit != null">	
				,tool_limit = #{toolLimit}
			</if>
			<if test="toolDesc != null">	
				,tool_desc = #{toolDesc}
			</if>
			<if test="isUse != null">	
				,is_use = #{isUse}
			</if>
		WHERE tool_id  = #{toolId}
	</update>
	
	<!-- 설비정보 삭제 -->
	<delete id="deleteToolInfo" parameterType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto">
		DELETE FROM bc_tool_info
		WHERE tool_id  = #{toolId}
	</delete>
	
	
	
		<!-- 설비구매업체(Page) select -->
	<select id="selectToolRtlCompList"
		parameterType="jin.mes.form.basMgt.operMgt.compMgt.CompMgtDto"
		resultType="jin.mes.form.basMgt.operMgt.compMgt.CompMgtDto">
		SELECT * FROM (
			SELECT 
				<choose>
					<when test="sort != null and sort != '' ">
						ROW_NUMBER() OVER(ORDER BY ${sort}) AS RNUM,
					</when>
					<otherwise>
						ROW_NUMBER() OVER(ORDER BY updatedAt desc) AS RNUM,
					</otherwise>
				</choose>
				<include refid="tool_rtl_comp" />
			)s_table
		WHERE RNUM <![CDATA[ >= ]]> #{firstIndex} AND RNUM <![CDATA[ <= ]]> #{lastIndex}
	</select>

	<!-- 설비구매업체 Count -->
	<select id="selectToolRtlCompCount"
		parameterType="jin.mes.form.basMgt.operMgt.compMgt.CompMgtDto"
		resultType="java.lang.Integer">
				SELECT count(*) 
				FROM (
					SELECT
					<include refid="tool_rtl_comp" />
				)c_table
	</select>
	
	<!-- 설비구매업체 입력 -->
	<insert id="insertToolRtlComp" parameterType="jin.mes.form.basMgt.operMgt.compMgt.CompMgtDto">
		INSERT INTO bc_rtl_tool_comp(
			tool_id,
			comp_id
		)VALUES(
			#{toolId}, 
			#{compId}
		)
	</insert>
	
	<!-- 설비구매업체 삭제 -->
	<delete id="deleteToolRtlComp" parameterType="jin.mes.form.basMgt.operMgt.compMgt.CompMgtDto">
		DELETE FROM bc_rtl_tool_comp
		WHERE tool_id  = #{toolId} AND comp_id = #{compId}
	</delete>
	
	
	<!-- 공구 정보 조회(All) -->
	<select id="selectAllToolInfo"
		resultType="jin.mes.form.basMgt.operMgt.toolMgt.ToolMgtDto">
		SELECT
		<include refid="toolInfo_base" />
		ORDER BY toolInfo.tool_nm ASC
	</select>
	
</mapper>