@CHARSET "UTF-8";

.grid-content {
	width: 100%;
}

.productWorkForm {
	margin: 0 auto;
/* 	text-align: center; */
	vertical-align: middle;
}

#jteSingleGrid.productWorkForm.left-contents {
	width: 49%;
	display: inline-block;
}

#jteDoubleGrid.productWorkForm.right-contents {
	width: 49.5%;
	display: inline-block;
	float: right;
}

/************************/

.productWorkForm .fa-info-circle:before {
	color:#3367D6;
}


.final-btn-area {
	text-align: center;
	
}

.k-grid-toolbar .jte-search-aria #jtePopForm_grid_shSelTxt {
	margin-left: 5px;
	margin-right: 3px;
}


.productWorkForm #jtePopForm_master th {
	text-align: left;	
}

.productWorkForm #jtePopForm_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.productWorkForm #jteProdAsgnPop_master th {
	text-align: left;	
}

.productWorkForm #jteProdAsgnPop_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.productWorkForm #jteProdAsgnPop_master {
	padding-left: 10px;
	padding-right: 10px;
}

.productWorkForm #jteProdProdWorkPop_master th {
	text-align: left;	
}

.productWorkForm #jteProdProdWorkPop_master td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.productWorkForm #jteProdProdWorkPop_master {
	padding-left: 10px;
	padding-right: 10px;
}

.productWorkForm .itemBadSavePop_table th {
	text-align: left;	
}

.productWorkForm .itemBadSavePop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.productWorkForm .itemBadSavePop_table {
	padding-left: 10px;
	padding-right: 10px;
}

.productWorkForm .jteWorkEndPop_table th {
	text-align: left;	
}

.productWorkForm .jteWorkEndPop_table td {
	padding-top: .45em;
	padding-bottom: .45em;
}

.productWorkForm .jteWorkEndPop_table {
	padding-left: 10px;
	padding-right: 10px;
}

/*************************************************/

.productWorkForm .col-left {
	width: 40%;
}

.productWorkForm .col-right {
	width: 60%;
}

.productWorkForm .col-left-title {
	width: 22%;
}

.productWorkForm .col-left-content {
	width: 28%;
}

.productWorkForm .col-right-title {
	width: 22%;
}

.productWorkForm .col-right-content {
	width: 28%;
}

.productWorkForm .poptr-col-left-title {
	width: 22%;
}
.productWorkForm .poptr-col-left-content {
	width: 28%;
}

.productWorkForm .poptr-col-right-title {
	width: 22%;
}

.productWorkForm .poptr-col-right-content {
	width: 28%;
}

/***********************************************/

.productWorkForm .left-input {
	width: 100%;
}

.productWorkForm .right-input {
	width: 100%;
}

.productWorkForm .center-input {
	width: 100%;
}

.productWorkForm .search-btn {
	width: 95%;
	float: right;
}

.productWorkForm .td-right-title {
	width: 90%;
	float: right;
	margin-top: 5px;
}

.productWorkForm .right-input.btn-input {
	width: 95%;
	float: right;
}

.productWorkForm .left-input.btn-input {
	width: 95%;
	float: right;
}

.productWorkForm .k-datetimepicker .k-select .k-link {
	display: flex;
}
.productWorkForm .k-datetimepicker .k-select .k-link-date {
	border-right: 1px solid #ffffff;
}

.productWorkForm #jtePopForm_tab {
	padding-left: 20px;
    padding-right: 20px;
}

.productWorkForm #jtePopForm_tab td {
	padding-top: .45em;
	padding-bottom: .45em;
}

/*************************/

.productWorkForm .itemBadSavePop_table {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}

.productWorkForm .jteWorkEndPop_table {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}

/* jkkim 작업부분 20201022 */
#customBar{
	width:100%; background:#f0f5ff; padding:15px 0 15px 0; margin:10px 0 5px 0; font-size:20px;
}

.productWorkForm .popTitle{
	font-size:30px;
}

.productWorkForm .k-grid-header{
	font-size:20px;
}
.productWorkForm .k-grid-header th{
	font-weight : 600;
}

.productWorkForm .k-grid-content tr{
	height: 70px;
	font-size:18px;
	font-weight : 600;
}


.productWorkForm .k-grid-content .k-button{
	height: 50px;
}
