@CHARSET "UTF-8";

/** 메인 그리드의 레이아웃 관련 **/

.menuInfoForm {
	width: 100%;
	margin: 0 auto;
/* 	text-align: center; */
	vertical-align: middle;
}

.menuInfoForm .left-contents {
	width: 20%;
	display: inline-block;
	height: 100%;
}

.menuInfoForm .middle-contents {
	width: 5%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.menuInfoForm .right-contents {
	width: 74%;
	display: inline-block;
}

.middle-contents .fas.fa-caret-square-right.fa-3x{
	color: #3367D6;
	padding-right: 24px;
	
}

/** 왼쪽 트리 구조 형식 관련 **/

.menuInfoForm #jteMasterTree {
	font-size: 16px;
	border: 2px solid #8aafff;
	background:#ffffff;
}

/** 20.08.10 JJW 왼쪽 트리 구조 여백 따로 주기 위함**/
.menuInfoForm.k-treeview .k-item {
	margin-left: 10px;
	margin-top: 10px;
}

/*20.12.09 YUMI 오른쪽 수정버튼 가운데 정렬*/

.menuInfoForm.right-contents.k-grid td:first-child {
	text-align: center;
}

/** 팝업의 통일감을 위해 추가**/

.menuInfoForm #jtePopForm_master {
	margin-top: 5px;
}

/*20.12.09 YUMI 팝업 final-btn-area 위쪽 여백 조정*/

.menuInfoForm-final-btn-area {
	margin-top: 0;
}
